ODOO_URL= Odoo URL
ODOO_DB= DataBase Name
ODOO_USER= Odoo user Name
ODOO_PASSWORD= User's Password


ODOO_WALK_IN_CUSTOMER_ID= Cuntomer ID 
ODOO_WAREHOUSE_ID= Warehouse ID
ODOO_PRODUCT_TEMPLATE_ID= product ID
ODOO_RESTOCK_QTY= Restock Quantity